<html>
<body>

{{#loginFailed}}
    Wrong Password!
{{/loginFailed}}

<ol>
    {{#games}}
        <li>
            {{name}} | {{genre}} | {{platform}}
        </li>
    {{/games}}
</ol>

Login
<form action="/login" method="post">
    <input type="text" placeholder="Enter your name" name="userName"/>
    <input type="password" placeholder="Enter your password" name="password"/>
    <button type="submit">Submit</button>
</form>

</body>
</html>